/* You can add global styles to this file, and also import other style files */

// Main Font
@import "fonts/open-sans-font";

// Fallback Font
@import "fonts/arial-font";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


html,
body {
  height: 100%;
  font-family: 'Open Sans', Arial  !important;
  font-weight:normal;
  font-style:normal;
  size: 12px;
  background-color: grayscale($color: #cccccc);
}
