@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIAL.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALBD.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALBD\ 1.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALBI.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALBI\ 1.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALBLACKITALIC.TTF") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Arial CE';
    src: url("../../assets/fonts/arial/ArialCE.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arial CE';
    src: url("../../assets/fonts/arial/arialceb.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Arial CE';
    src: url("../../assets/fonts/arial/ArialCEBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial CE';
    src: url("../../assets/fonts/arial/ArialCEItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Arial CE MT';
    src: url("../../assets/fonts/arial/ArialCEMTBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALI.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALI\ 1.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALLGT.TTF") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIALLGTITL.TTF") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ArialMdm.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ArialMdmItl.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url("../../assets/fonts/arial/ARIALN.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url("../../assets/fonts/arial/ARIALNB.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url("../../assets/fonts/arial/ARIALNBI.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url("../../assets/fonts/arial/ARIALNI.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/ARIBLK.TTF") format("truetype");
    font-weight: 900;
    font-style: normal;
}
