<!-- <section>
  <fa-icon [icon]='["fas", "sign-in-alt"]' [size]="'10x'"></fa-icon>
  &nbsp;
  <fa-icon [icon]='["fas", "user"]' [size]="'5x'"></fa-icon>
  <i class="fa fa-unlock-alt" style="color: #e28b3f;" aria-hidden="true"></i>
</section> -->
<!-- <h1 class="text-center mt-5">Welcome to ERP-Tuition Application</h1> -->
<erp-tuition-frontend-toast aria-live="polite" style="margin-top: 4.2rem;" aria-atomic="true"></erp-tuition-frontend-toast>
<erp-tuition-frontend-top-nav-container></erp-tuition-frontend-top-nav-container>
<router-outlet></router-outlet>
