.color-secondary{
  background-color: #e28b3f;
  border: #e28b3f;
  color: #ffff;
}

.color-secondary:hover,
.color-secondary:visited{
  background-color: #e67e22;
  border: #e67e22;
  color: #ffff;
}
